<div class="top-banner">
	<div class="mobile-logo"><a href="/"><strong>business</strong>.gov.au</a></div>
</div>
<header class="wrapper">
	<div class="sub-brand"><button type="button" id="back-home" class="btn btn-primary"><i class="fa fa-home" aria-hidden="true"></i> Business registration home</button></div>
	<div class="gov"><a href="business.gov.au"><span>business.gov.au</span></a></div>
		<nav id="settings">
				<ul class="nav-menu">
					<li class="nav-item">
						<a href="settings.html" id="accessible-megamenu-1483574910903-1" aria-haspopup="true" aria-owns="accessible-megamenu-1483574910903-2" aria-controls="accessible-megamenu-1483574910903-2" aria-expanded="false" class=""><span class="">mike.ross@business.com</span></a>
						<div class="sub-nav" id="accessible-megamenu-1483574910903-2" role="group" aria-expanded="false" aria-hidden="true" aria-labelledby="accessible-megamenu-1483574910903-1">
							<ul class="sub-nav-group">
								<li><a href="{{ site.baseurl }}/existing">Start a new application</a></li>
								<li><a href="/account/signout">Sign out</a></li>
							</ul>					
						</div>
					</li>
				</ul>
			</nav>
	<p class="app-ref"><strong>Reference:</strong> 1708-AA-2128-L</p>
</header>
